@import "vendors/reset.scss";
@import "config/variables.scss";

@import url("blocs/header.scss");
@import url("blocs/highlight.scss");
@import url("blocs/movies.scss");
@import url("blocs/trailerVideo.scss");

@import url("blocs/company.scss");

body {
  background-color: var(--primary-bg-color);
}

footer {
  background-color: #050a1b;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  img {
    width: 150px;
  }
}
