@import "vendors/reset.scss";
@import "config/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 10px;
  background-color: var(--primary-bg-color);

  .logo {
    color: var(--white);
  }
}
nav {
  display: flex;
  align-items: center;

  .searchBar {
    width: 200px;
    padding: 10px;
    background: #ffffff3b;
    border: none;
  }

  .searchBar::placeholder {
    color: var(--white);
  }

  ul {
    display: flex;
    li {
      margin-left: 10px;
      .nav__icons {
        width: 24px;
      }
    }
  }
}

.most__popular {
  background-color: var(--primary-bg-color);

  .movie__list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
  }

  .movie {
  }

  .movie__name {
    color: var(--white);
  }

  .movie__releaseDate {
    color: gray;
  }
}
