@import "vendors/reset.scss";
@import "config/variables.scss";

@import url("blocs/header.scss");
@import url("blocs/highlight.scss");

.studios {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg-color);
  padding: 10px 50px;
  gap: 15;

  .studio {
    cursor: pointer;
    width: 100%;
    height: 80px;
    border: 1px solid #272335;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 3px 1px 5px 1px #040727;
  }
}

.movies__container {
  background-color: var(--primary-bg-color);
  padding: 10px 50px;

  .movie__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .movie {
    width: 154px;
  }

  .movie__name {
    color: var(--white);
  }

  .movie__releaseDate {
    color: gray;
  }
}
