.highlight {
  width: 100%;
  height: 520px;
  background-blend-mode: darken;
  color: white;

  .highlight__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px 0px 10px;

    .highlight__contentPoster {
      width: 154px;
      border-radius: 10px;
    }

    .highlight__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .highlight__releasedYear {
        margin-top: 15px;
      }

      .highlight__title {
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
      }

      .highlight__genders {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 15px;
      }

      .highlight__gender {
        font-size: 12px;
        margin-left: 5px;
      }

      .highlight__overview,
      .highlight__additionalInfo {
        display: none;
      }

      .highlight__btn {
        margin-top: 15px;
        background-color: #ea5e6c;
        border: none;
        border-radius: 50px;
        color: white;
        padding: 8px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .highlight {
    display: flex;
    height: 550px;

    .highlight__content {
      flex-direction: row;
      align-items: flex-start;
      padding: 0 50px;
      align-self: center;
      gap: 20px;

      .highlight__contentPoster {
        width: 185px;
      }

      .highlight__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .highlight__releasedYear {
          margin-top: 0px;
        }

        .highlight__title {
          font-size: 36px;
        }

        .highlight__genders {
          margin-top: 10px;
        }

        .highlight__gender {
          font-size: 14px;
        }

        .highlight__overview {
          display: block;
          max-width: 300px;
          text-align: justify;
          line-height: normal;
          margin-top: 15px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 14px;
        }
        .highlight__additionalInfo {
          display: flex;
          align-items: center;
          margin-top: 15px;
          font-size: 14px;

          .highlight__duration {
            display: flex;
            align-items: center;
            img {
              width: 18px;
            }
          }
          .highlight__rate {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .highlight {
    .highlight__content {
      .highlight__contentPoster {
        width: 255px;
      }
      .highlight__info {
        .highlight__releasedYear {
          margin-top: 15px;
          font-size: 18px;
        }

        .highlight__title {
          font-size: 38px;
          margin-top: 15px;
        }

        .highlight__genders {
          margin-top: 15px;
        }

        .highlight__gender {
          font-size: 18px;
        }

        .highlight__overview {
          max-width: 400px;
          margin-top: 20px;
          font-size: 18px;
        }

        .highlight__additionalInfo {
          margin-top: 20px;

          .highlight__duration {
            font-size: 18px;
            img {
              width: 24px;
            }
          }
          .highlight__rate {
            font-size: 18px;
          }
        }

        .highlight__btn {
          margin-top: 25px;
          padding: 15px 20px;
          font-size: 22px;
        }
      }
    }
  }
}
