.movies__container {
  padding: 50px 10px;

  .movie__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .movie {
    width: calc(100vw / 3) + 10vw;
    height: auto;
    margin-bottom: 60px;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
    }
  }

  .movie__name {
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .movie__releaseDate {
    color: gray;
  }

  .movie_voteAverage {
    color: #a1651e;
    width: 34px;
    height: 34px;
    background: #fec72a;
    border-radius: 51px;
    justify-content: center;
    padding: 10px;
    font-weight: 500;
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 4px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  gap: 15px;
  padding: 0px 0 30px;
  .prevBtn,
  .nextBtn {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #000516;
    }
    img {
      width: 18px;
    }
  }
}

@media screen and (min-width: 480px) {
  .movies__container {
    padding: 50px 32px;

    .movie {
      width: calc(100vw / 4) + 2vw;
    }
  }
}

@media screen and (min-width: 600px) {
  .movies__container {
    padding: 50px 32px;

    .movie {
      width: calc(100vw / 5);
      margin-bottom: 70px;
    }
    .movie__name {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .movies__container {
    .movie {
      width: calc(100vw / 6);
      margin-bottom: 80px;
    }
    .movie__name {
      font-size: 16px;
    }
  }
}
